@charset "utf-8";

html,
body {
    height: 100%;
    background: #efefef;
}

.navbar-brand {
    padding: 12px;
}

.navbar-inverse {
    background-color: rgb(50, 118, 177);
    border-color: rgb(50, 118, 177);
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-brand > img {
    display: inline;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: rgb(255, 255, 255);
    background-color: #2C5D87;
}

.row {
    margin: 64px 0 8px 0;
}

.row-footer {
    font-size: 80%;
}

.btn-inverse {
    color: #fff;
    background-color: #323232;
    border-color: #040404;
}

#footer {
    height: 128px;
    color: #fff;
    background-color: #646464;
    background-image: url(../img/logotype.png);
    background-repeat:no-repeat;
    background-position: 99% 50%;
}

#footer > .container {
    padding-top: 8px;
}

.footer-links {
    margin: 4px 0;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li a, .footer-copyright li a {
    color: #32adf1;
}
.footer-links li:first-child {
    padding-left: 0;
}

.footer-copyright {
    margin: 4px 0;
}
.footer-copyright li {
    padding: 0 2px;
    list-style: none;
}
.footer-copyright li:first-child {
    padding-bottom: 4px;
}

.jumbotron {
    background-color: #f0a;
}
